a {
  text-decoration: none; }

.banner {
  width: 100%;
  height: 300px;
  padding-top: 5%;
  background-image: url(../img/background/banner.png);
  background-position: center; }
  .banner__header {
    text-align: center;
    color: #f5f5f5; }
  .banner__descr {
    text-align: center;
    color: #f5f5f5; }

.book-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
      grid-template-areas: "header" "images" "info" "desc"; }
  @media (min-width: 768px) {
    .book-block {
      max-width: 760px;
      -ms-grid-columns: 3fr 40px 5fr;
      grid-template-columns: 3fr 5fr;
      grid-column-gap: 40px;
          grid-template-areas: "images  header" "images  info" "desc   desc"; } }
  @media (min-width: 1200px) {
    .book-block {
      max-width: 1160px;
      -ms-grid-columns: 2fr 40px 4fr 40px 6fr;
      grid-template-columns: 2fr 4fr 6fr;
      grid-column-gap: 40px;
          grid-template-areas: "images  images  header" "images  images  info" ". desc desc"; } }
  .book-block__images {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: images;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .book-block__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header; }
  .book-block__info {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: info; }
  .book-block__desc {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: desc; }
  @media (min-width: 768px) {
    .book-block__images {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1; }
    .book-block__header {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }
    .book-block__info {
    -ms-grid-row: 2;
    -ms-grid-column: 3; }
    .book-block__desc {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; } }
  @media (min-width: 1200px) {
    .book-block__images {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
    .book-block__header {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }
    .book-block__info {
    -ms-grid-row: 2;
    -ms-grid-column: 5; }
    .book-block__desc {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3; } }
  .book-block__more-books {
    grid-area: books;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

.book__table {
  padding: 20px 0 60px 0; }

.book__table-key {
  font-weight: 500;
  color: #a6a6a6;
  padding: 20px 40px 0 0; }

.book__table-val {
  font-weight: 600;
  padding: 20px 40px 0 0; }

.btn {
  display: inline-block;
  width: 330px;
  border: none;
  border-radius: 2px;
  padding: 15px 70px;
  margin: 15px 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:hover, .btn:focus {
    background-color: #a81e5c; }

.catalog {
  margin-top: 20px; }
  .catalog__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .catalog__block {
        width: 1170px; } }
    .catalog__block .mini-card {
      width: 100%; }
      @media (min-width: 768px) {
        .catalog__block .mini-card {
          width: 50%; } }
      @media (min-width: 1200px) {
        .catalog__block .mini-card {
          width: 25%; } }

.contacts__title {
  margin: 0 40px; }

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 40px; }

.contacts__block-item {
  margin-right: 75px;
  margin-left: -15px; }

.contacts__map {
  margin: 0 40px; }

.contacts__form {
  margin: 0 40px; }

.delivery {
  margin: 0 auto;
  margin: 0 40px;
  border: 5px solid #a6a6a6; }
  .delivery__title {
    margin-left: 20px; }
  .delivery__descr {
    margin-left: 20px; }
  .delivery__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none; }
  .delivery__block-item {
    margin: 5px 5px;
    text-align: center; }

.field-checkbox {
  position: relative;
  display: block; }
  .field-checkbox__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1; }
  .field-checkbox__pseudo-checkbox:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 4px solid #d0d0d0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  input:focus ~ .field-checkbox__pseudo-checkbox:before, .field-checkbox__pseudo-checkbox:hover:before {
    border-color: #d7569c; }
  input:checked ~ .field-checkbox__pseudo-checkbox:before {
    border-color: #d0d0d0;
    background: #d0d0d0; }
  .field-checkbox__pseudo-checkbox:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #d7569c;
    border-bottom: 2px solid #d7569c;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  input:checked ~ .field-checkbox__pseudo-checkbox:after {
    opacity: 1; }
  .field-checkbox__text {
    display: block;
    padding-left: 28px;
    font-size: 14px;
    line-height: 1.714em; }

.field-text {
  position: relative;
  display: block; }
  .field-text__input {
    display: inline-block;
    width: 100%;
    height: 32px;
    margin: 0;
    border: none;
    border-bottom: 4px solid #d0d0d0;
    background-color: #f5f5f5;
    padding: 6px 0;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
    color: #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .field-text__input:hover, .field-text__input:focus {
      outline: none;
      border-bottom-color: #d7569c; }
    .field-text__input::-webkit-input-placeholder {
      color: #a6a6a6;
      opacity: 1; }
    .field-text__input:-ms-input-placeholder {
      color: #a6a6a6;
      opacity: 1; }
    .field-text__input::-ms-input-placeholder {
      color: #a6a6a6;
      opacity: 1; }
    .field-text__input::placeholder {
      color: #a6a6a6;
      opacity: 1; }
  .field-text__msg {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    color: #d90000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .field-text--error .field-text__input {
    border-bottom-color: #d90000; }

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(1fr 1fr 1fr);
  grid-gap: 20px;
      grid-template-areas: "email input action"; }
  .form__email {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: email; }
  .form__input {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: input; }
  .form__action {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: action;
    width: 100%; }

.main-nav__burger {
  display: none; }

.main-nav__phone-number {
  display: none; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0 10px;
  color: #231f20; }

.main-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: #231f20;
  text-transform: lowercase;
  margin-left: 15px;
  text-decoration: none; }

.main-nav__item a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d7569c; }

.mini-card {
  width: 100%; }
  .mini-card:hover .mini-card__pict {
    -webkit-box-shadow: 0 0 10px 5px #f4d4e4;
            box-shadow: 0 0 10px 5px #f4d4e4; }
  .mini-card:hover .mini-card__price {
    color: #d7569c; }
  .mini-card__pict {
    width: 268px;
    height: auto; }
  .mini-card__title {
    font-weight: 700;
    color: #000000; }
  .mini-card__descr {
    color: #000000; }
  .mini-card__price {
    color: #000000;
    font-weight: bold; }

.main-nav__burger {
  display: none; }

.main-nav__phone-number {
  display: none; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0 10px;
  color: #231f20; }

.main-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: #231f20;
  text-transform: lowercase;
  margin-left: 15px;
  text-decoration: none; }

.main-nav__item a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d7569c; }

.more-books {
  width: 100%; }
  .more-books__title {
    text-align: left;
    margin: 0 40px; }
  .more-books__link {
    text-align: center;
    margin: 0 40px; }
  .more-books__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .more-books__block {
        width: 1170px; } }
    .more-books__block .mini-card {
      width: 100%; }
      @media (min-width: 768px) {
        .more-books__block .mini-card {
          width: 50%; } }
      @media (min-width: 1200px) {
        .more-books__block .mini-card {
          width: 25%; } }

.page-footer {
  display: block;
  background-color: #fff; }
  .page-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .page-footer * a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #231f20;
    font-weight: bold;
    -ms-flex-item-align: center;
        align-self: center; }
  .page-footer * p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #a6a6a6; }

.page-header {
  display: block;
  background-color: #fff; }
  .page-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .page-header * a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #231f20;
    font-weight: bold; }
  .page-header * p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #a6a6a6; }
  .page-header__cart {
    color: #231f20;
    padding: 0 20px;
    text-decoration: none; }

.page {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

a,
button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  margin: 0; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

svg {
  fill: currentColor; }
  a svg,
  button svg {
    pointer-events: none; }
  svg:not(:root) {
    overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #1a1ff7;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover, a:focus {
    color: #6c73ff; }
  @media (min-width: 1280px) {
    a[href^="tel:"] {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit; } }

.pagination__block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.pagination__block-item {
  display: inline-block;
  margin: 0 0.5%; }
  .pagination__block-item:hover {
    background-color: #f4d4e4; }

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .preview__screen {
    margin-top: 10px; }

.recommend {
  background-color: #f5f5f5;
  max-width: 100%;
  height: 800px;
  margin: auto;
  padding: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto;
      grid-template-areas: "title title title title" "blog book book present" "photo book book present" "photo opinion kids present" "oldbook oldbook oldbook present"; }
  .recommend__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: title; }
  .recommend__blog {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: blog;
    background-color: #ffffff;
    padding: 0 20px; }
  .recommend__book {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: book;
    background-image: url(../img/background/img_big.png);
    padding: 0 20px; }
  .recommend__photo {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: photo;
    background-image: url(../img/background/photo.png);
    padding-left: 20px;
    text-align: center; }
  .recommend__opinion {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: opinion;
    background-color: #ffffff;
    padding: 0 20px; }
  .recommend__kids {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    grid-area: kids;
    background-color: #d7569c;
    padding: 0 20px; }
  .recommend__oldbook {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: oldbook;
    text-align: center;
    background-image: url(../img/background/oldbook.png); }
  .recommend__present {
    -ms-grid-row: 3;
    -ms-grid-row-span: 7;
    -ms-grid-column: 7;
    grid-area: present; }

.slider {
  background-color: #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px; }
  .slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    width: 60%;
    height: 100%;
    margin: 0 auto; }
  .slider__wrapper-text {
    margin: 0 auto; }
  .slider__wrapper-text-title {
    margin-top: 60px;
    width: 47%; }
  .slider__wrapper-block-text {
    border: 4px solid #e8e8e8;
    width: 75%; }
  .slider__image {
    width: 368px;
    height: auto; }

.tabs {
  background-color: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tabs__block {
    width: 100%;
    margin: 0 5%; }
  .tabs__block-item {
    margin: 0 25px;
    display: inline-block;
    font-size: 16px; }
    .tabs__block-item:hover {
      border-bottom: 1px solid #d7569c; }
  .tabs__block-item-text {
    color: #000000; }

.page {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

a,
button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  margin: 0; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

svg {
  fill: currentColor; }
  a svg,
  button svg {
    pointer-events: none; }
  svg:not(:root) {
    overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #1a1ff7;
  background-color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover, a:focus {
    color: #6c73ff; }
  @media (min-width: 1280px) {
    a[href^="tel:"] {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit; } }

/*# sourceMappingURL=style.css.map */
