
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body.page
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content

        header.page-header
          .page-header__inner
            a.page-header__logo(href='index.html')
              svg(width='127', height="14")
                use(xlink:href='img/sprite.svg#logo')
            p.page-header__open-time  с 9:00 до 19:00

            nav.main-nav
              ul.main-nav__list
                li.main-nav__item
                  a(href='index.html') Книги
                li.main-nav__item.main-nav__item--activ
                  a(href='recommendations.html') Рекомендации
                li.main-nav__item
                  a(href='contacts.html') Контакты
                li.main-nav__item.main-nav__item--phone
                  a(href='tel:+78005008020')
                    svg(width='16', height='16')
                      use(xlink:href='img/sprite.svg#phone')
                    span.main-nav__phone-number +7 800 500-80-20
              a.page-header__cart
                svg(width='16', height='16')
                  use(xlink:href='img/sprite.svg#cart')

            nav.main-burger
              a#toggler.toggler(href='')
                span
            ul#main.main
              li.main__item
                a(href='index.html') Книги
              li.main__item
                a(href='recommendations.html') Рекомендации
              li.main__item
                a(href='contacts.html') Контакты
              li.main__item.main__phone
                a(href='tel: +78005008020') 8 800 500-80-20

        block content
          p Cодержимое


      footer.page-footer
        .page-footer__inner
          a.logo(href='index.html')
            svg(width='127', height="14")
                use(xlink:href='img/sprite.svg#logo')
          p.page-footer__open-time  с 9:00 до 19:00
          nav.main-nav.main-nav--footer
            ul.main-nav__list
              li.main-nav__item
                a(href='index.html') Книги
              li.main-nav__item
                a(href='reco.html') Рекомендации
              li.main-nav__item.main-nav__item--contacts
                a(href='contacts.html') Контакты
              li.main-nav__item.main-nav__item--phone
                a(href='tel:+78005008020')
                  svg(width='16', height='16')
                  span.main-nav__phone-number +7 800 500-80-20

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
