extends ../pug/layout.pug

block meta
  title Книга
  meta(name='description', content='')

block content

  article.book
    header.book__header
      h3.book__author Эдди Юн
      h1.book__title Суперпотребители
      p.book__mini-descr Кто это и почему они важны для вашего бизнеса
    .book__images
      img.book__img-cover(src='img/books/superpotrebiteli.png', alt='', width='360px', height='507px')
    .book__pages
      img.page(src='img/background/screen.png', alt='', width='110px', height='158px')
      img.page(src='img/background/screen.png', alt='', width='', height='')
      img.page(src='img/background/screen.png', alt='', width='', height='')
    .book__info
      table.book__table
        tr
          td.book__table-key Артикул:
          td.book__table-val-info 1830720
        tr
          td.book__table-key В наличии:
          td.book__table-val-info 5 шт.
        tr
          td.book__table-key Издательство:
          td.book__table-val-info Издал
        tr
          td.book__table-key Цена:
          td.book__table-val-price 800 р.
      button.btn Добавить в корзину
      input.btn__input(type='text', value='', size='4')
      span шт.
      button.btn__heart
       svg(width='20', height='20')
         use(xlink:href='img/sprite.svg#heart')
       span 20 людям понравилась эта книга

    .book__descr
      h4.book__title Короткое описание
      p В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.
      p Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.

      button.swipe__btn Показать полностью
        svg(width='20', height='20')
          use(xlink:href='img/sprite.svg#down')

      .book__descr-like
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#facebook')
        span.social__btn__num 3
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#vk')
        span.social__btn__num 8
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#like')
        span.social__btn__num 13
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#dislike')
        span.social__btn__num 4

  .more-books
    h2.more-books__title Книги по тематике
    a.more-books__link(href="index.html") Больше книг по теме
    .more-books__block
      +mini-card('Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестардартному мышлению')
      +mini-card('Путеводитель по лжи', 'book.html', 'img/books/putevoditel-po-lzhi.png', 'Критическое мышление в эпоху постправды')
      +mini-card('Дао физики', 'book.html', 'img/books/dao-fiziki.png', 'Исследование параллей между современной физикой и восточной философией')
      +mini-card('Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других')
  +banner()


