extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content

  section.slider
    .slider__inner
      .slider__item
        p.slider__item-title Новое поступление книги "Симпсоны и их математические секреты
        .slider__item-text
          p.slider__item-descr Для поклонников сериала «Симпсоны»   и для всех, кому интересна математика.
          a.slider__item-link(href="/") Хочу узнать о книге больше
      img.slider__image(src="img/books/book-simpsony-i-ih-matematicheskie-sekrety.jpg")


  section.catalog
    .tabs
      ul.tabs__list
        li.tabs__item
          a.tabs__link(href='/') Все
        li.tabs__item
          a.tabs__link(href='/') Маркетинг
        li.tabs__item
          a.tabs__link(href='/') Научпоп
        li.tabs__item
          a.tabs__link(href='/') Бизнес
        li.tabs__item
          a.tabs__link(href='/') Творчество
        li.tabs__item
          a.tabs__link(href='/') Бизнес

    .catalog__block
      +mini-card('Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестардартному мышлению', '500 ₽')
      +mini-card('Путеводитель по лжи', 'book.html', 'img/books/putevoditel-po-lzhi.png', 'Критическое мышление в эпоху постправды', '630 ₽')
      +mini-card('Дао физики', 'book.html', 'img/books/dao-fiziki.png', 'Исследование параллей между современной физикой и восточной философией', '560 ₽')
      +mini-card('Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других', '365 ₽')
      +mini-card('Суперпотребители', 'book.html', 'img/books/superpotrebiteli.png', 'Кто это и почему они так важны для вашего бизнеса', '500 ₽')
      +mini-card('Маркетинг в социальных сетях', 'book.html', 'img/books/marketing-v-sotsialnykh-setyakh.png', '', '630 ₽')
      +mini-card('Правильный выбор', 'book.html', 'img/books/book-pravilnyij-vyibor.jpg', 'Практическое руководство по принятию взвешенных решений', '560 ₽')
      +mini-card('Главное в истории искусств', 'book.html', 'img/books/glavnoe-v-istorii-iskusstv.png', 'Ключевые работы, темы, направления, техники', '365 ₽')

    .pagination
      a.pagination__item(href='/') 1
      a.pagination__item(href='/') 2
      a.pagination__item(href='/') 3
      a.pagination__item(href='/') 4
      a.pagination__item(href='/') 5
      span.pagination__item(href='/') ...
      a.pagination__item(href='/') 10

  section.delivery
    h2.delivery__title Доставим в любое место
    p.delivery__descr // Ну почти в любое
    ul.delivery__block
      li.delivery__block-item
        svg(width='50', height='50')
          use(xlink:href='img/sprite.svg#book')
        p.delivery__item-text Покупайте книги на сайте в любимом формате - бумажные, электронные или аудио.
      li.delivery__block-item
        svg(width='50', height='50')
          use(xlink:href='img/sprite.svg#box')
        p.delivery__item-text Мы подарим вам "Набор читателя" и добавим в посылку.
      li.delivery__block-item
        svg(width='50', height='50')
          use(xlink:href='img/sprite.svg#truck')
        p.delivery__item-text Бесплатно доставляем заказы от 3000 рублей по всей России.
      li.delivery__block-item
        svg(width='50', height='50')
          use(xlink:href='img/sprite.svg#pin')
        p.delivery__item-text Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу бесплатно

  .more-books
    h2.more-books__title Наши новинки
    a.more-books__link(href='/')  Все новинки
    .more-books__block
      +mini-card('Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестардартному мышлению')
      +mini-card('Путеводитель по лжи', 'book.html', 'img/books/putevoditel-po-lzhi.png', 'Критическое мышление в эпоху постправды')
      +mini-card('Дао физики', 'book.html', 'img/books/dao-fiziki.png', 'Исследование параллей между современной физикой и восточной философией')
      +mini-card('Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других')
